# ignore object files
hydro-loops*.o
# ignore executable
hydro-loops
# ignore data folder
data
# ignore matlab files
*.m
# ignore IDL procedures
*.pro
# ignore files used to run batch jobs
many_loops
loop_lengths.txt
