# ignore object files
hydro-loops*.o
# ignore executable
hydro-loops
# ignore data folder
data
# ignore matlab files
*.m
# ignore IDL procedures
*.pro
# ignore shell script  used to run batch jobs
many_loops
# ignore all text files
*.txt
